{% extends "base.html" %}
{% load materializecss %}
{% block page_title %} Change {{ user }}'s Password {% endblock %}

{% block content %}
    <!-- Change password -->
    <form method="POST">
        {% csrf_token %}
        <div class="profile-container">
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">Old password: </p>
                </div>
            </div>
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">{{ form.old_password }}</p>
                </div>
            </div>
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">New password: </p>
                </div>
            </div>
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">{{ form.new_password1 }}</p>
                </div>
            </div>
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">New password confirmation: </p>
                </div>
            </div>
            <div class="row margin-profile-field">
                <div class="col-sm-12">
                    <p class="text-center">{{ form.new_password2 }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-2 col-md-offset-3 col-lg-offset-3">
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 edit-return-button">
            <button type="submit" class="btn"><i class="fa fa-check"></i> Submit</button>
        </div>
    </form>
    <div class="col-sm-12 col-xs-12 edit-return-button margin-bottom">
        <a href="{% url 'profile' %}">
            <button class="btn btn-info"><i class="fa fa-arrow-left"></i> Back</button>
        </a>
    </div>
{% endblock %}