{% extends "base.html" %}
{% load materializecss %}
{% block page_title %} Edit {{ user }}'s Profile {% endblock %}

{% block content %}
    <!-- Edit user details -->
    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <div>
                    <div>
                        <p>Username: </p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>{{ form.username }}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>First name: </p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>{{ form.first_name }}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Last name: </p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>{{ form.last_name }}</p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>Last name: </p>
                    </div>
                </div>
                <div>
                    <div>
                        <p>{{ form.email }}</p>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn"><i class="fa fa-check"></i> Submit</button>
            </div>
        </form>
        <div>
            <a href="{% url 'profile' %}">
                <button class="btn"><i class="fa fa-arrow-left"></i> Return</button>
            </a>
        </div>
    </div>
{% endblock %}