{% extends "base.html" %}

{% block page_title %} Products {% endblock %}

{% block content %}
    <!-- Notification when the cart is empty -->
    {% if is_empty is False %}
        <h4>There is no matching result!</h4>
    {% endif %}
    <!-- Products container -->
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col s12 m6 xl4 ">
                    <div class="products">
                        <div>
                            <a href="{% url "view_product_detail" slug=product.slug %}">
                                <div class="images"
                                     style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
                                <p class="products-name">{{ product.name }}</p>
                            </a>
                            <p class="products-description">{{ product.snippet }}</p>
                            <p class="products-price">{{ product.price }} {{ product.currency }}</p>
                        </div>
                        <!-- Add to cart -->
                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div>
                                <div class="quantity-container">
                                    <input class="quantity-align" name="quantity" type="number" min="1" max="999"
                                           value="1"
                                           aria-label="quantity" required>
                                </div>
                                <div class="btn-add">
                                    <button class="btn" type="submit"><i class="fa fa-plus"></i> Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}