{% extends "base.html" %}

{% block page_title %} Products {% endblock %}

{% block content %}
    {% if is_empty is False %}
        <p>There is no matching result!</p>
    {% endif %}

    <div>
        {% for product in products %}
            <div>
                <a href="{% url "view_product_detail" slug=product.slug %}">
                    <div class="images"
                            style="background-image: url('{{ MEDIA_URL }}{{ product.images }}')"></div>
                    <p>{{ product.name }}</p>
                </a>
                <p>{{ product.snippet }}</p>
                <p>{{ product.price }} {{ product.currency }}</p>
            </div>
            <!-- Add to cart -->
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div>
                    <input name="quantity" type="number" min="1" max="999" value="1"
                           aria-label="quantity" required>
                    <span>
                            <button class="btn" type="submit"><i class="fa fa-plus"></i> Add</button>
                        </span>
                </div>
            </form>
        {% endfor %}
    </div>


{% endblock %}