
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    padding-top: 0;
}

.row {
    margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.fa {
    transition: all 0.5s ease-in-out;
}

.fa:hover {
    color: #6b7c93;
    transition: all 0.5s ease-in-out;
}

#message_container {
    margin: 0 auto;
    text-align: center;
    width: 35%;
    position: fixed;
    top: 60px;
    left: 50px;
    opacity: 0.7;
    z-index: 1;
}

.alert-message {
    z-index: 1;
}