
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.row {
    margin-bottom: 0;
}

.counter {
  padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 0;
    background-color: black;
}

/*Home page*/

.welcome h2 {
    text-align: center;
}

.welcome p {
    margin: 20px auto;
    text-align: justify;
    width: 70%;
}

.image-container {
    text-align: center;
}

/*Feed page*/

.welcome h1, h5{
    text-align: center;
}

/*Login page*/

.login-page {
    margin-top: 0;
}

/*Profile page*/

.profile-info {
    text-align: center;
}

.profile-info p {
    font-weight: bold;
}

.button-container {
    margin-top: 40px;
    text-align: center;
}

.button-container .btn {
    margin-bottom: 20px;
}

/*Edit and Change password styling*/
.edit-profile, .change-password, .registration, .login {
    margin-top: 60px;
}

.float-right-btn {
    float: right;
}
.return-btn {
    margin: 0;
}

.information li {
    list-style-type: circle !important;
    list-style-position: inside;
}

/*Products page and View Products page styling*/
.images {
    width: 320px;
    height: 200px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 20px auto;

}

.product-image {
    width: 80%;
    height: 400px;
    margin-bottom: 5px;
}

.products {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: -10px;
    border: #6b7c93 1px solid;

}

.products-description {
    text-align: justify;
    padding: 0 10px;
}

.products-name {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: 10px 0;
}

.products-price {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 0;
}

.quantity-container {
    width: 70%;
    margin: 0 auto;
}

.quantity-align {
    text-align: center;
}

.btn-add {
    text-align: center;
    margin-bottom: 10px;
}

/*Cart page*/

.checkout, .amend{
    text-align: center;
    margin: 0 auto;
}

.text-right {
    text-align: right;
}


/*Footer*/



.page-footer {
    margin-top: 20px;
    padding-top: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.fa {
    transition: all 0.5s ease-in-out;
}

.fa:hover {
    color: #6b7c93;
    transition: all 0.5s ease-in-out;
}


/*Messages*/
#message_container {
    margin: 0 auto;
    text-align: center;
    width: 35%;
    position: fixed;
    top: 60px;
    left: 50px;
    opacity: 0.7;
    z-index: 1;
}

.alert-message {
    z-index: 1;
}


/*Media Queries*/
@media (max-width: 767px) {
    .products {
        margin-right: 0;
    }

    .product-image {
        height: 200px;
    }
    .brand-logo {
        font-size: 1.7rem !important;
    }

}

