{% extends "base.html" %}
{% load materializecss %}
{% load static from staticfiles %}

<!-- Stripe JS preload -->
{% block stripe_js %}
    <script type="text/javascript" src="http://js.stripe.com/v2/"></script>

    <script type="text/javascript">
        //<![CDATA[
        {#var stripe = Stripe('{{ publishable }}');#}
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
{% block page_title %} Checkout page {% endblock %}

{% block content %}
    <div class="container">
        <form role="form" method="post" id="payment-form">
            {% csrf_token %}
            <h2>Payment Details</h2>
            <label for="card-element">
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>
            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
            <div id="credit-card-errors display-none">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div>
                {{ payment_form|materializecss }}
            </div>
            <div>
                {{ order_form|materializecss }}
            </div>

            <button class="btn" type="submit" id="submit_payment_btn" name="commit"><i class="fa fa-flag-checkered"></i>
                Submit Payment
            </button>
        </form>
    </div>
{% endblock %}
