{% extends "base.html" %}
{% load materializecss %}
{% block page_title %} Login {% endblock %}

{% block content %}
    <!-- Login Form -->
    <div class="container">
        <div class="login">
            <form method="post">
                {% csrf_token %}
                {{ login_form|materializecss }}
                <div class="button-container">
                    <button class="btn btn-info login-page" type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                </div>
            </form>
            <div class="btn-align">
                <a href="{% url 'password_reset' %}">
                    <button class="btn btn-info login-page"><i class="fa fa-unlock-alt"></i> Forget your
                        password?</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}