{% extends "base.html" %}
{% load materializecss %}
{% block page_title %} Login {% endblock %}



{% block content %}
    <div class="container">
        <div class="login">
            <form method="post">
                {% csrf_token %}
                {{ login_form|materializecss }}
                <div class="button-container">
                    <div>
                        <input class="btn" type="submit" value="Log In"/>
                    </div>
                    <div>
                        <a href="{% url 'password_reset' %}">
                            <p class="btn btn-info login-page"><i class="fa fa-unlock-alt"></i> Forget your
                                password?</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}