{% extends "base.html" %}
{% load materializecss %}
{% block page_title %} Registration {% endblock %}

{% block content %}
    <!-- User registration section -->
    <div class="container registration">
        <form method="post">
            {% csrf_token %}
            {{ registration_form|materializecss }}
            <div class="button-container">
                <button class="btn btn-info" type="submit" ><i class="fa fa-user-plus"></i> Registration</button>
            </div>
        </form>
    </div>
{% endblock %}